@import "tailwindcss";

@plugin 'tailwindcss-animate';

@theme {
  --height-navbar: calc(4rem + env(safe-area-inset-bottom, 20px));

  --color-primary: var(--color-stone-600);

  --color-secondary: #8bceba;
  --color-secondary-light: #cdebe5;
  --color-tertiary: #f4b2c0;
  --color-success-orange: #fd9308;
  --color-background-black: rgba(0, 0, 0, 0.95);

  --animate-accordion-slide-down: 300ms cubic-bezier(0.87, 0, 0.13, 1)
    accordion-slide-down;
  --animate-accordion-slide-up: 300ms cubic-bezier(0.87, 0, 0.13, 1)
    accordion-slide-up;

  @keyframes accordion-slide-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-slide-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-envelope-wiggle: 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19)
    envelope-wiggle;

  @keyframes envelope-wiggle {
    from {
      transform: translateY(-40px);
    }
    to {
      transform: translateY(0);
    }
  }

  --animate-envelope-send-to-center: 750ms ease-in-out envelope-send-to-center;

  @keyframes envelope-send-to-center {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-40vh) rotate(20deg);
    }
  }

  --animate-envelope-shake: 100ms ease-in-out envelope-shake;

  @keyframes envelope-shake {
    from {
      transform: translateY(-40vh) rotate(20deg);
    }
    to {
      transform: translateY(-40vh) rotate(23deg);
    }
  }

  --animate-cards-swipe: 2000ms ease-in-out cards-swipe;

  @keyframes cards-swipe {
    from {
      transform: translateX(-200vw);
    }
    to {
      transform: translateX(200vw);
    }
  }

  --animate-disappear: 1ms linear disappear 1000ms;

  @keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-appear: 1ms linear appear 1000ms;

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

:root {
  font-family: "Comfortaa Variable", system-ui, sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #8bceba;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.triangle-clip {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeBottomn {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 5%
    )
    100% 50% / 100% 100% repeat-x;

  border: 1px #d8d8d8 dashed;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
