@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
  --height-navbar: calc(4rem + env(safe-area-inset-bottom, 20px));

  --color-primary: var(--color-stone-600);

  --color-secondary: #9fe0ea;
  --color-secondary-light: #b6e6ee;
  --color-tertiary: #ffa7c1;
  --color-success-orange: #fd9308;
  --color-background-black: rgba(0, 0, 0, 0.95);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-family: "Comfortaa Variable", system-ui, sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeBottomn {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 5%
    )
    100% 50% / 100% 100% repeat-x;

  border: 1px #d8d8d8 dashed;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
