@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Comfortaa Variable", system-ui, sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeBottomn {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 5%
    )
    100% 50% / 100% 100% repeat-x;

  border: 1px #d8d8d8 dashed;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
