VITE_PAGE_TITLE="Japan Expo VTube Stamp Rally"

# variable de Netlify
VITE_PUBLIC_URL=$URL
VITE_COMMIT_REF=$COMMIT_REF
VITE_BUILD_ID=$BUILD_ID

VITE_SENTRY_DSN="https://project@org.ingest.de.sentry.io/smth-smth"
VITE_SENTRY_ORG_ID="org_id"
VITE_SENTRY_PROJECT_ID="proj_id"
VITE_SENTRY_ENVIRONMENT="production"
VITE_SENTRY_REPO="VTuber-Rally/stamp-rally-app"

# Appwrite
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID="abcde"

VITE_DATABASE_ID=abc123

VITE_STANDISTS_COLLECTION_ID=abc123
VITE_STAMPS_COLLECTION_ID=abc123
VITE_SUBMISSIONS_COLLECTION_ID=abc123
VITE_WHEEL_COLLECTION_ID=abc123
VITE_KV_COLLECTION_ID=abc123
VITE_CONTEST_PARTICIPANTS_COLLECTION_ID=abc123

VITE_SUBMIT_FUNCTION_ID=abc123
VITE_GET_PRIVATE_KEY_FUNCTION_ID=abc123
VITE_REGISTER_CONTEST_PARTICIPANT_FUNCTION_ID=abc123
VITE_SEND_NOTIFICATION_FUNCTION_ID=abc123

VITE_ASSETS_BUCKET_ID=rally-assets

# Rally config
VITE_STAMPS_TO_COLLECT=10

VITE_PLAUSIBLE_DOMAIN="localhost"
VITE_PLAUSIBLE_HOST="https://plausible.io"

# Firebase Configuration
VITE_FIREBASE_API_KEY="your-api-key"
VITE_FIREBASE_AUTH_DOMAIN="your-auth-domain"
VITE_FIREBASE_PROJECT_ID="your-project-id"
VITE_FIREBASE_STORAGE_BUCKET="your-storage-bucket"
VITE_FIREBASE_MESSAGING_SENDER_ID="your-messaging-sender-id"
VITE_FIREBASE_APP_ID="your-app-id"
VITE_FIREBASE_VAPID_PUBLIC_KEY="vapid-key"

# Notification topics IDs
VITE_RALLY_FINISHERS_EN_TOPIC_ID="aaaa"
VITE_RALLY_FINISHERS_FR_TOPIC_ID="aaaa"
